# Quick Start

In [2]:
import sys
sys.path.append('../../')

/media/workspace/DeepFood/deep-reco-gym/samples/notebooks

## Dataset

In [3]:
from mars_gym.data import utils

/home/marlesson/anaconda3/envs/mars-gym/lib/python3.6/site-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [4]:
utils.datasets()

['random',
 'yoochoose',
 'processed_yoochoose',
 'trivago_rio',
 'processed_trivago_rio']

In [13]:
df, df_meta = utils.load_dataset('processed_trivago_rio')

3.55kKB [00:00, 3.79kKB/s]
605KB [00:00, 2.36kKB/s]

In [14]:
df.head()

,session_id,user_id,timestamp,action_type,item_id,impressions,list_reference_item,pos_item_id,clicked
0,05fe82b496fb9,M1Z13DD0P2KH,1541422443,clickout item,4304686,"['109351', '150138', '4345728', '105014', '478...","['', '', '', '', '']",7,1.0
1,05fe82b496fb9,M1Z13DD0P2KH,1541422474,clickout item,960255,"['1475717', '5196406', '104880', '109351', '68...","['4304686', '', '', '', '']",20,1.0
2,05fe82b496fb9,M1Z13DD0P2KH,1541423039,clickout item,2188598,"['104558', '326781', '104786', '1223390', '206...","['4304686', '960255', '', '', '']",9,1.0
3,05fe82b496fb9,M1Z13DD0P2KH,1541424631,clickout item,8459162,"['105014', '5659850', '478121', '109351', '956...","['4304686', '960255', '2188598', '', '']",23,1.0
4,05fe82b496fb9,M1Z13DD0P2KH,1541424685,interaction item info,8459162,NaN,"['4304686', '960255', '2188598', '8459162', '']",-1,0.0

In [15]:
df_meta.head()

,Unnamed: 0,item_id,1 star,2 star,3 star,4 star,5 star,accessible hotel,accessible parking,adults only,...,terrace (hotel),theme hotel,towels,very good rating,volleyball,washing machine,wheelchair accessible,wifi (public areas),wifi (rooms),list_metadata
0,0,3217002,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,1,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, ..."
1,1,3486086,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,2,5497220,0,0,0,1,0,1,0,0,...,0,0,0,1,0,0,1,1,1,"[0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, ..."
3,3,6551710,0,0,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,1,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, ..."
4,4,6680288,0,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,1,1,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, ..."